#general{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;

}
.box{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    margin-right: 10px;
    font-size: 20px;

}
.boxred{
    background-color: red;
    color : yellow;

}
.boxblack{
    background-color: black;
    color : white;

}