.nvbr{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:white;
    
}
#navbarNav{
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
/*Está hecho en un monitor de 1680 x 1050*/
.flyer{
    width: 650px;
    height:550px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
    padding: 0 0 0 0;
    margin-left : 600px;
    margin-bottom : 200px;


}
#orators{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.card-main-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;

}
.card{
    width: 18rem;
    margin-left:20px

}
.beach{
    display: flex;
    margin-right: 1px;
}
.beach-image{
    width: 100%

}
.beach-text{
    background-color: rgb(60, 60, 60);
    width: 120%;
    color: white;
    margin-left: 1px;
    padding: 20px 0px 0px 30px;
    font-size: larger;

}
.orator-form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.inputs{
    margin-right: 5px;
    width: 400px;

}
.texts{
    height: 100px;
    width: 800px;
    margin-top: 5px;

}
.socmed{
    width: 100px;
    font-size: 20px;
    text-decoration: none;
    color: white;

}
.footer{
	width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    background-image:linear-gradient(90deg, rgb(37, 58, 71), rgb(69, 108, 133)); 
    justify-content: space-evenly;
    margin-top: 5px;

}