.nvbr{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:white;
    
}
#navbarNav{
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.discount-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}
.orator-form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.socmed{
    width: 100px;
    font-size: 20px;
    text-decoration: none;
    color: white;

}
.footer{
	width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    background-image:linear-gradient(90deg, rgb(37, 58, 71), rgb(69, 108, 133)); 
    justify-content: space-evenly;
    margin-top: 5px;

}
.card-text{
    color: grey;

}
.card-title{
    font-weight: bold;

}
.full-name{
    display: flex;
    justify-content: center;
    align-items: center;

}
.margins{
    margin-top: 30px;

}
