.card-container{
    display : flex;
    flex-wrap: wrap;
    /*flex-direction : row;*/

}
.card-hold{
    width: 550px;

}
.fill{
    height: -webkit-fill-available;

}
p{
    color: grey;

}
